@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-media --mediaDesktop (max-width: 2080px);
@custom-media --mediaLaptop (max-width: 1680px);
@custom-media --mediaTablet (max-width: 1040px);
@custom-media --mediaMobile (max-width: 696px);
@custom-media --mediaMobileLS (max-height: 696px);
@custom-media --mediaMobileS (max-width: 400px);
@custom-media --mediaUseMotion (prefers-reduced-motion: no-preference);
@custom-media --mediaReduceMotion (prefers-reduced-motion: reduce);
@custom-media --mediaTouch (pointer: coarse);
@custom-media --mediaNoTouch (pointer: fine);

:root {
  --mobileNavOffset: calc(var(--spaceOuter) * 2 + var(--space2XL));
}

body {
  font-family: var(--fontStack);
  font-weight: var(--fontWeightRegular);
  background-color: rgb(var(--rgbBackground));
  transition: background var(--durationM) ease;
  color: var(--colorTextBody);
  width: 100vw;
  overflow-x: hidden;

  &:focus {
    outline: none;
  }
}

:where(code, pre) {
  font-family: var(--monoFontStack);
}

::selection {
  background: rgb(var(--rgbAccent));
  color: rgb(var(--rgbBlack));
}

:focus {
  outline: 4px solid rgb(var(--rgbText));
  outline-offset: 4px;
}

:focus:not(:focus-visible) {
  outline: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    transform: scale3d(0, 1, 1);
    transform-origin: left;
  }

  50% {
    transform: scale3d(1, 1, 1);
    transform-origin: left;
  }

  51% {
    transform: scale3d(1, 1, 1);
    transform-origin: right;
  }

  100% {
    transform: scale3d(0, 1, 1);
    transform-origin: right;
  }
}

.newnav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.background {
  position: absolute;
  top: 0;
  left: -31px;
  bottom: 0;
  height: 200px;
  width: 300px;
  background: #fff;
}

.fix {
  display: flex;
  --buttonPadding: 0;
  --buttonTextColor: var(--colorTextBody);
  width: var(--buttonSize);
  align-items: center;
  justify-content: center;
  padding: 0;
  --offset: var(--spaceXS);
  --inset: calc(var(--spaceOuter) - var(--offset));
  position: fixed;
  top: var(--inset);
  right: var(--inset);
}
.boton {
  left: 30px;
  position: absolute;
  top: 31px;
  cursor: pointer;

  /* height: 50px;
  border-radius: 50%; */
  /* background: transparent; */
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Icons  */

/* twitter */
.twitter-icon {
  width: 40px;
  margin-left: 12px;
}

.parent:hover > .wing1 {
  transform-origin: center;
  animation: flap 0.4s ease-out infinite alternate;
}
.parent:hover > .wing2 {
  transform-origin: center;
  animation: flap 0.4s ease-in infinite alternate;
}

.wing2:hover {
  transform-origin: center;
  animation: flap 0.4s ease-in infinite alternate;
}
@media (min-width: 1041px) {
  #project-2 > div > :nth-child(2) {
    left: 150px;
  }
}
@keyframes flap {
  50% {
    transform: scaleX(-1) rotate(-45deg) translate(-40px, -40px);
  }
}
